*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #d9f2d9;
}
.form-enviar {
	width: 400px;
	background: #006666;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
}
.form-enviar h4{
	font-size: 22px;
	margin-bottom: 20px;
}

.controls {
	width: 100%;
	background: white;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px: solid #FBDD8E;
	font-family: 'calibri';
	font-size: 18px;
	color: black;

}
.form-enviar p {
	height: 40px;
	text-align: center;
	font-size: 18px;
}
.form-enviar a{
	color: white;
	text-decoration: none;
}
.form-enviar .botons{
	width: 100%;
	background: #adad85;	
	padding: 12px;
	color: black;
	margin: 16px 0;
	font-size: 16px;
}
p{
	padding: 20px;
	text-align: center;
}