body{
	margin: 0;
	padding: 0;	
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	background-color: #d9f2d9;
}
h1{
	text-align: center;
}
table{
	margin-top: 50px;
	caption-side: bottom;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
th{
	background-color: #277227;
	color: white;
}
caption{
	padding-top: 20px;
	font-style: italic;;
}

td, th {
	border: 3px solid black;
	padding-left:  20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
p{
	text-align: center;
}